{% extends '::backend.html.twig' %}


{% block contenido %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Listado de clientes</h2>
                 <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="example" class="table table-striped responsive-utilities jambo_table">
                    <thead>
                        <tr class="headings">            
                          <th>Nombre </th>
                          <th>Contacto </th>
                          <th>Dirección </th>
                          <th>Tipo </th>
                          <th>Modalidad de pago </th>           
                          <th class=" no-link last"><span class="nobr">Action</span>
                          </th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for entity in entities %}
                      <tr>
                        <td><a href="{{ path('cliente_show', {'id':entity.id }) }}">{{ entity.nombre }}</a></td>
                        <td><a href="{{ path('cliente_show', {'id':entity.id }) }}">{{ entity.contacto }}</a></td>
                        <td><a href="{{ path('cliente_show', {'id':entity.id }) }}">{{ entity.direccion }}</a></td>
                        <td><a href="{{ path('cliente_show', {'id':entity.id }) }}">{{ entity.tipo }}</a></td>
                        <td><a href="{{ path('cliente_show', {'id':entity.id }) }}">{{ entity.modalidadPago }}</a></td>
                        <td>
                          <a href="{{ path('cliente_show', {'id':entity.id }) }}">Mostrar</a>
                          <a href="{{ path('cliente_edit', {'id':entity.id }) }}">Editar</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </diV>
    </div>
</div>
         
    
{% endblock %}
{% block javascripts %}

<!-- JS Global Compulsory -->			
<script type="text/javascript" src="{{asset('assets/js/datatables/js/jquery.dataTables.js')}}"></script>
<script type="text/javascript" src="{{asset('assets/js/datatables/tools/js/dataTables.tableTools.js')}}"></script>
<script>
 

    var asInitVals = new Array();
    $(document).ready(function() {
      var oTable = $('#example').dataTable({
        "oLanguage": {
          "sSearch": "Buscar:"
        },
        "aoColumnDefs": [{
            'bSortable': false,
            'aTargets': [0]
          } //disables sorting for column one
        ],
        'iDisplayLength': 12,
        "sPaginationType": "full_numbers",
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
          "sSwfPath": "js/datatables/tools/swf/copy_csv_xls_pdf.swf"
        }
      });
      $("tfoot input").keyup(function() {
        /* Filter on the column based on the index of this element's parent <th> */
        oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
      });
      $("tfoot input").each(function(i) {
        asInitVals[i] = this.value;
      });
      $("tfoot input").focus(function() {
        if (this.className == "search_init") {
          this.className = "";
          this.value = "";
        }
      });
      $("tfoot input").blur(function(i) {
        if (this.value == "") {
          this.className = "search_init";
          this.value = asInitVals[$("tfoot input").index(this)];
        }
      });
    });
  </script>

{% endblock %}