{% extends '::backend.html.twig' %}

{% block contenido %}
  <div class="col-xs-12 col-sm-12 col-md-12">
    <form action="{{ path('cliente') }}" method="post" class="list_form" name="list_form" enctype="multipart/form-data"  accept-charset="UTF-8">  
        <table border="0" width="100%" class="table">
          <tr class='table-header'>
            <td>
              <h2>Lugares:<span> Listado</span></h2>           
          </tr>
        </table>
    </form>

    <div class="table-responsive">
      <table id="tablelist" class="listado table table-hover" width="100%">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for entity in entities %}
            <tr>
              <td><a href="{{ path('cliente_show', {'id':entity.id }) }}">{{ entity }}</a></td>
              <td>
                <a href="{{ path('cliente_show', {'id':entity.id }) }}">Mostrar</a>
                <a href="{{ path('cliente_edit', {'id':entity.id }) }}">Editar</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div><!--/.table-responsive -->
  </div>
{% endblock %}